### Dependencies for Core Plotly Functionality  ###
###                                             ###
### To install, run:                            ###
### $ env/bin/pip install -r requirements.txt   ###
###                                             ###
###################################################

## http request dependencies ##
requests==2.3.0

## python 2 to 3 compatibility ##
six==1.8.0

## timezone definitions ##
pytz==2014.9

## 2.6 python dependencies ##
simplejson==3.6.5

img2pdf==0.1.5
Pillow==2.6.1
numpy==1.8.1
scipy==0.14.0
scikit-image==0.11.3

Django==1.8
#django-toolbelt==0.0.1
#static3==0.5.1
#wsgiref==0.1.2
django-multiupload>=0.2
